<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="importForm" enctype="multipart/form-data"
						  action="/order/stock/import" method="POST">
						<div class="form-group">
							<label class="col-sm-3 control-label">文件名：</label>
							<div class="col-sm-6">
								<input type="file" id="file" name="file" style="opacity:0;position:absolute;"
									   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
								<input type="text" id="showFile" class="form-control" readonly="readonly" sytle="float:left"/>
							</div>
							<input type="button" class="layui-btn" onclick="bindFileClick()" value="上传文件" />
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button id="submitBtn" type="button" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/plugins/jquery-form/jquery.form.min.js"></script>
<script type="text/javascript" src="/js/appjs/order/stock/import.js">
</script>
</body>
</html>
