<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="importForm" enctype="multipart/form-data"
                        action="/order/order/import" method="POST">
                            <input type="hidden" id="deleteFlag" name="deleteFlag" value="1"/>
							<div class="form-group">
								<label class="col-sm-offset-2">请将需要导入的订单文件按"前缀_文件名_8位日期.xls/xlsx"的格式命名后放入同一个文件夹内</label>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">文件夹：</label>
								<div class="col-sm-6">
								    <input type='file' id="file" name="file" style="opacity:0;position:absolute;" webkitdirectory mozdirectory multiple/>
									<input type="text" id="showFile" class="form-control" readonly="readonly" sytle="float:left"/>
								</div>
								<input type="button" class="layui-btn" onclick="bindFileClick()" value="上传文件" />
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">日期：</label>
								<div class="col-sm-6">
									<input type="text" class="laydate-icon layer-date form-control"
										   id="createDate" name="createDate" placeholder="请选择日期"
										   onclick="laydate()" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="button" id="submitBtn" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
    <script type="text/javascript" src="/js/plugins/jquery-form/jquery.form.min.js"></script>
    <script type="text/javascript" src="/js/appjs/order/order/import.js"></script>
</body>
</html>
