<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="order:order:import" type="button" class="btn  btn-primary" onclick="mergeAndImport()">
									<i class="fa" aria-hidden="true"></i>批量导入
							</button>
							<button shiro:hasPermission="order:order:import" type="button" class="btn  btn-primary" onclick="appendAndImport()">
								<i class="fa" aria-hidden="true"></i>追加导入
							</button>
							<button shiro:hasPermission="order:order:export" type="button" class="btn  btn-primary" onclick="divideAndExport()">
								<i class="fa" aria-hidden="true"></i>导出
							</button>
							<button shiro:hasPermission="order:order:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa" aria-hidden="true"></i>删除
							</button>
						</div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="fixed-table-toolbar">
						<div class="search pull-left ">
							<input type="text" class="laydate-icon form-control" id="startDate" name="startDate" placeholder="起始日期"
								   onclick="laydate()" readonly="readonly"/>
						</div>
                        <div class="search pull-left">
                            <input type="text" class="laydate-icon form-control" id="endDate" name="endDate" placeholder="结束日期"
                                   onclick="laydate()" readonly="readonly"/>
                        </div>
                        <div class="search pull-left ">
                            <input id="orderId" type="text" class="form-control" placeholder="订单编号">
                        </div>
                        <div class="search pull-left ">
                            <input id="orderBatch" type="text" class="form-control" placeholder="导入批次">
                        </div>
                        <div class="search pull-left ">
                            <select name="availableFlag" id="availableFlag"
                                    class="form-control chosen-select">
                                <option value="all">--库存情况--</option>
                                <option value="0">库存不足</option>
                                <option value="1">库存足够</option>
                            </select>
                        </div>
                        <div class="columns pull-left">
                            <button class="btn btn-success" onclick="reLoad()">查询</button>
                        </div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="order:order:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="order:order:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/order/order/list.js"></script>
</body>
</html>